.events {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 5px;
}

.notificationOff {
  height: 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 3s;
  color: #252525;
}

.notificationOn {
  height: 50px;
  background-color: #21f305;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 1s;
  color: #252525;
}

.currentEvents, .upcomingEvents {
  text-align: center;
}

.events__title {
  font-size: 27px;
  background-color: #e0e0e0;
  padding: 10px 0;
}

.title {
  background-color: #c0c0c0;
  font-size: 23px;
  padding: 10px 0;
}

.eventsItems {
  display: flex;
  flex-direction: column;
  margin-bottom: 2px;
}

@media (max-width: 1024px) {
  .events {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 560px) {
  .events {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .events__title {
    font-size: 23px;
  }

  .title {
    background-color: #c0c0c0;
    font-size: 20px;
    padding: 10px 0;
  }

  .notificationOn {
    height: 70px;
  }
}
